body {
    background-color: aqua;
}

.base {
    background-color: black;
    height: 450px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
}
.container {
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: #000;
    border: solid 5px #fff;
    border-radius: 10px;
    margin: 10px auto;
    padding: 20px;
}
/* .sinais {
    background-color: gray;
    height: 380px;
    width: 120px;
    margin: 10px;
} */