* {
    box-sizing: border-box;
}
.base {
    background-color: black;
    width: 600px;
    height: 500px;
    margin: auto;
}

.container {
    width: 580px;
    height: 480px;
    display: inline-block;
    border: solid 10px white;
    margin: 10px;
    padding: auto;
}

.sinais {
    background-color: #000;
    width: 30%;
    height: 440px;
    display: inline-block;
    border: solid 5px gray;
    margin: 10px;
}

.estrutura{
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #000;
    border: solid 1px #0e0e0e;
    border-radius: 100px;
    --size: 10px;
    background-image: radial-gradient(circle, #151515 0%, #151515 15%, transparent 15%, transparent 100%),
    radial-gradient(circle, #151515 0%, #151515 15%, transparent 15%, transparent 100%);
    background-size: var(--size) var(--size);
    background-position: 0 0, calc(var(--size)/2) calc(var(--size)/2);
}

.contagem {
    background-color: #000;
    height: 300px;
    width: 300px;
    display: inline-block;
    position: relative;
    border: solid 5px gray;
    margin: 30px;
    margin-bottom:15%;
    --size: 10px;
    background-image: radial-gradient(circle, #151515 0%, #151515 15%, transparent 15%, transparent 100%),
    radial-gradient(circle, #151515 0%, #151515 15%, transparent 15%, transparent 100%);
    background-size: var(--size) var(--size);
}
